<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">


	<servlet>
		<servlet-name>calcDist</servlet-name>
		<servlet-class>servlets.CalcDist</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>calcDist</servlet-name>
		<url-pattern>/calc</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>listeVilles</servlet-name>
		<servlet-class>servlets.ListeVilles</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listeVilles</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>detailsVille</servlet-name>
		<servlet-class>servlets.DetailsVille</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>detailsVille</servlet-name>
		<url-pattern>/details</url-pattern>
	</servlet-mapping>


</web-app>